# Ignorer le dossier de l'environnement virtuel
/env/

# Ignorer les notebooks spécifiques
women.ipynb

# Ignorer le script Python spécifique
find_countries.py

# Ignorer les checkpoints de Jupyter
/.ipynb_checkpoints/
